<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}
    {% endblock %}
</head>
<body>
{# Navbar #}
<div class="bg-black text-white">
    <nav class="flex justify-between max-w-screen-xl mx-auto py-5 px-10">
        <a href="{{ url_for('index.index') }}" class="font-medium text-xl md:text-2xl">One Click Wonders</a>

        <ul class="flex space-x-5 items-center">
            <li><a href="{{ url_for('index.index') }}" class="link-nav">Home</a></li>

            {% if "email" in session %}
                <li><a href="{{ url_for('planner.planner') }}" class="link-nav">Planner</a></li>
                <li><a href="{{ url_for('login.logout') }}" class="link-nav">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login.login') }}" class="link-nav">Login</a></li>
                <li><a href="{{ url_for('register.register') }}" class="link-nav">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{# Flash messages #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flex flex-col items-center space-y-2 mt-6 px-10 mx-auto">
            {% for message in messages %}
                <span class="px-4 py-2 bg-black text-white">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

{# Footer #}
<footer class="flex items-center justify-center max-w-screen-xl mx-auto py-5 px-10 text-center">
    <p class="text-gray-700 font-light">Created by Hadi Farah, Chayut Siripassorn, Dhairya Parekh.</p>
</footer>
</body>
</html>
